<style>
    .truncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table th,
    .table td {
        text-align: center;
        vertical-align: middle;
    }

    .table {
        table-layout: fixed;
        width: 100%;
    }

    .small-column {
        width: 10%;
    }

    .long-column {
        width: 20%;
    }

    .tiny-column {
        width: 20%;
    }

    .btn-link {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 112px;
        background-color: rgba(233, 36, 36, 0.767);
        text-decoration: none;
        color: white;
        transition: color 0.3s;
    }

    .btn-link:hover {
        color: rgb(208, 255, 0);
    }

    .modal {
        margin-top: 60px;
    }
</style>

<a href="/" class="back" style="text-decoration: none; color: black;">
    <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
</a>
<div class="mt-4">
    <h3>Bài viết của tôi</h3>

    

    <table class="table mt-4">

           {{!-- <div> 
             <a href="#" data-bs-toggle="modal" data-id="{{ this._id }}" data-bs-target="#calculate-revenue-modal">
                <i class="fas fa-calculator" style="color: blue;"></i>
            </a>
            
            Doanh thu
            </div> --}}

        <thead>
            <tr>
                <th scope="col" class="small-column">STT</th>
                <th scope="col" class="long-column">Số lượng xe</th>
                <th scope="col" class="long-column">Đơn giá</th>
                <th scope="col" class="tiny-column">Thời gian</th>
                <th scope="col" class="tiny-column">Tổng doanh thu</th>
            </tr>
        </thead>
        <tbody>
            {{#if faceSchema.length}}
                {{#each faceSchema}}
                    <tr>
                        <th scope="row">{{ sum @index 1 }}</th>
                        <td>{{ this.total }} chiếc</td>
                        <td> 10 000 VNĐ</td>
                        {{!-- <td> {{this.price}}</td> --}}
                        <td>{{ this.date }}</td>
                    
                        
                        <td> {{this.price}} VNĐ</td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">Chưa có xe nào được gửi</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>

<!-- Modal to calculate revenue -->
<div id="calculate-revenue-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tính doanh thu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Doanh thu dự kiến</p>
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Ngày</th>
                            <th scope="col">Doanh thu</th>
                        </tr>
                    </thead>
                    <tbody class="revenue-container">
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Script to calculate revenue without deleting the blog post -->
<form name="calculate-revenue-form" method="POST"></form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var blogsId;
    var calculateForm = document.forms['calculate-revenue-form'];
    var btnCalculateRevenue = document.getElementById("btn-calculate-revenue");

    $(document).ready(function() {
        $('#calculate-revenue-modal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            blogsId = button.data('id');
        });

        btnCalculateRevenue.onclick = function() {
            var total = parseInt($('tr').eq(0).find('td').eq(1).text().trim());
            var price = 10000; 
            var revenue = total * price;

      
            var date = "{{ currentDate }}";
            var revenueTable = `
                <tr>
                    <td>${date}</td>
                    <td>${revenue}</td>
                </tr>
            `;

            $('.revenue-container').html(revenueTable);

            // Prevent form submission
            return false;
        };
    });
</script>
