<style>
    .truncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table {
        table-layout: fixed;
        width: 100%;
    }

    .small-column {
        width: 4%;
    }

    .normal-column {
        width: 20%;
    }

    .long-column {
        width: 70%;
    }

    .tiny-column {
        width: 10%;
    }

    .btn-link {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 112px;
        background-color: rgba(233, 36, 36, 0.767);
        text-decoration: none;
        color: white;
        transition: color 0.3s;
       
    }

    .btn-link:hover {
        color: rgb(208, 255, 0);
    }

    .modal {
        margin-top: 30px;
    }
    .back {
        margin-bottom: 10px;
    }
</style>

    <a href="/stored/blogs" class="back" style="text-decoration: none; color: black;">
            <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
    </a>
<div class="mt-4">
    <h3>Bài viết đã xóa</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" class="small-column">STT</th>
                <th scope="col" class="normal-column">Tên bài viết</th>
                <th scope="col" class="long-column">Nội dung bài viết</th>
                <th scope="col" class="tiny-column">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each blogsData}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>
                    <div class="truncate">{{this.title}}</div>
                </td>
                <td>
                    <div class="truncate">{{this.text}}</div>
                </td>
                <td>
                    <div class="truncate">{{this.created_at}}</div>
                </td>
                <td>
                    <a href="" class=" btn-restore" data-id="{{this._id}}"><i class="fas fa-undo-alt" style="color: rgb(0, 255, 0);"></i></a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Chưa có bài viết nào được xóa</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>



<form name="restore-blog-form" method="POST"></form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var restoreForm = document.forms['restore-blog-form'];
    var restoreBtn = $('.btn-restore');
    
    $(document).ready(function () {
        //restore
        restoreBtn.click(function (e) {
            e.preventDefault();
            
            var blogsId = $(this).data('id')
            restoreForm.action = '/blogs/' + blogsId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
    });
</script>